header{
    top: 0;
    left:0;
    right:0;
    padding: 1rem 7%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
}

.heading{
    text-align: center;
    color: var(--orange);
    margin-bottom: 3rem;
    font-size:4rem;
}

.btn{
    margin-top:1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #fff;
    background: var(--orange);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.btn:hover{
    background: var(--black);
    color: var(--orange);
    letter-spacing: .1rem;
}

header .logo{
    color: var(--orange);;
    font-size: 3.5rem;
    font-weight: bolder;
}

header .logo span{
    color: var(--white);
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: #fff;
}

header .navbar a.active,
header .navbar a:hover{
    color: #fff;
    background: var(--orange);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: #fff;
    border-radius: 50%;
    background:var(--orange);
}

header .icons i:hover,
header .icons a:hover{
    color: var(--orange);
    background: #fff;
    transform: rotate(360deg);
}

header .icons #navbar:hover,
header .icons a:hover{
    color: var(--orange);
    background: #fff;
    transform: rotate(360deg);
}


@media (min-width: 768px) {
    header .fas.fa-bars {
        display: none;
    }
}


@media (max-width: 767px) {
    header{
        padding: 1rem 7%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        z-index: 10000;
    }
    
    header .logo{
        font-size: 3rem;
    }
    
    header .navbar {
        display: none;
        flex-direction: column;
        padding-top: 150px;
    }

        header .navbar a {
        font-size: 4rem;
        padding: 2rem 1rem 0.5rem 1rem;
        font-weight: bolder;
        
    }

    header .navbar.open {
        display: flex;
        height: 100vh;
        align-items: center;
        
    }
}


