.action{
    padding:5rem;
}

.action .box{
    width:299px;
    height:168px;
}

.action .content h3{
    font-size: 1.7rem;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}

.action .content P{
    font-size: 1.2rem;
    color:#fff;
    text-decoration: none;
}